In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("output/425-m.out", header=None, delimiter=r"\s+")
df.columns = ["src_ip", "dst_ip", "payload_len"]
df

              src_ip           dst_ip  payload_len
0      10.162.28.156  149.124.123.205        49560
1       10.162.29.28  149.124.123.205         7411
2     10.163.134.142  149.124.123.205         3123
3      10.163.134.20  149.124.123.205         5558
4      10.163.134.22  149.124.123.205          433
...              ...              ...          ...
1060     96.75.30.15  149.124.123.205         9366
1061     96.75.30.18  149.124.123.205        22076
1062     96.75.30.46  149.124.123.205        42231
1063     96.75.30.48  149.124.123.205         3526
1064     96.75.30.84  149.124.123.205        36169

[1065 rows x 3 columns]

In [6]:
df.to_csv("output/425-m.csv", index=False)